h1{
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}

ol{
  text-align: right;
  margin-right: 4em;
}

a{
  color: blue;
}

ul{
  list-style-type: none;
}

h3{
font-size: 27px;
  font-style: italic;
}

span{
  font-style: italic;
  font-size: 20px;
  text-decoration: underline;
}

p{
  font-size: 15px;
  font-style: oblique;
}
